body{
  font-weight: 100;
  font-family: sans-serif;
}

h1{
  font-weight: 400;
  text-align: center;
}

.inputField {
  width: 100%;
  font-size: 2em;
  /* margin-left: 5%; */
  /* margin-right:5%; */
}

button{
  width: 100%;
  border: none;
  background: black;
  color: white;
  padding: 20px;
  font-size: 3em;
  transition: color 0.5s, background 0.5s;
}

button:hover{
  background: white;
  color: black;

}

.output{
  text-align: center;
  font-size: 3em;
}
